.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container section.form {
  width: 100%;
  max-width: 450px;
  padding: 100px 40px;
  background-color: #fff;
  border-radius: 8px;
}

@media (max-width: 450px) {
  .login-container section.form {
    height: 100vh;
    padding: 18vh 40px;
  } 
}

.login-container section.form form h1{
  font-size: 22px;
  margin-bottom: 32px;
  color: #505050;
}

.login-container button {
    margin-top: 30px;
}

.login-container img {
    height: 160px;
    margin-bottom: 15px;
}
  